/* ---------------------------------- fonts --------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------------- animations ------------------------------- */



/* ---------------------------------- main ---------------------------------- */

:root {
    --bg: #24183d
}

* {
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    margin: 0;
}

html {
    background-color: var(--bg);
    background-image: url(media/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    display: flex;
    color: white;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease
}

a:hover {
    color: #c2e2ff;
    transition: color 0.3s ease
}

main {
    padding: 1rem;
    margin-left: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-family: "Jersey 10", sans-serif;
}

hr {
    margin: 2rem 0;
    border: 1.5px solid #ffffff22;
    border-radius: 10px;
}

section {
    margin-bottom: 3rem;
}

.glass {
    padding: 2rem 3.5rem;
    border: 2px solid #ffffff30;
    border-radius: 1rem;
    background-color:#ffffff05;
    backdrop-filter: blur(5px);
}

.glassdark {
    padding: 2rem 3.5rem;
    border: 2px solid #ffffff40;
    border-radius: 1rem;
    background-color:#00000042;
    backdrop-filter: blur(5px);
}

/* --------------------------------- footer --------------------------------- */

footer {
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 0.8rem;
    width: 90vw;
}

/* -------------------------------- side bar -------------------------------- */

nav, .contacts {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

nav {
    bottom: 0;
}

.contacts {
    top: 0;
}

.sideBar {
    width: 10vw;
    height: 100vh;
}

.sideBar a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.label {
    position: absolute;
    opacity: 0;
    font-size: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
    color: #ffffff;
}

.label.hover {
    opacity: 1;
    transform: translateX(3.5rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#navShadow {
    position: fixed;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), #00000000);
    width: 13vw;
    height: 100vh;
    margin: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

#navShadow.hover {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sideBar svg {
    width: 1.8rem;
    height: 1.8rem;
    transition: width 0.3s ease, height 0.3s ease;
}

.sideBar svg.hover {
    width: 2.5rem;
    height: 2.5rem;
    transition: width 0.3s ease, height 0.3s ease;
}

/* --------------------------------- profile -------------------------------- */

.header {
    text-align: right;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

div.pfp:nth-of-type(1) {
    transform: translateY(5rem);
    width: 12rem;
}

div.pfp:nth-of-type(1) img {
    display: block;
    border-radius: 1rem;
    z-index: 0;
    width: 20rem;
}

.intro {
    font-family: "Jersey 10", sans-serif;
    font-size: 5.5rem;
    line-height: 0.6;
}

.typewrite {
    font-size: 1.5rem;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
}

.typewrite .wrap {
    display: inline-block;
    font-size: inherit;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.description {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-left: 2rem;
}

.areas {
    margin-top: 2rem;
}

.area {
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color:#ffffff22;
    backdrop-filter: blur(5px);
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
    line-height: 2.2;
}

div.pfp:nth-of-type(2) {
    width: 15rem;
    display: flex;
    justify-content: right;
}

div.pfp:nth-of-type(2) img {
    display: block;
    z-index: 0;
    border-radius: 1rem;
    width: 20rem;
    margin-right: 1rem;
}

.techarea {
    width: 100%;
    display: block;
    z-index: 1;
    margin-top: 1rem;
}


.techstack {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.techstack img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.techstack img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.techstack a {
    width: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.techstack h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}


/* -------------------------------- projects -------------------------------- */

.project, .contactarea {
    display: flex;
    margin: 2rem 0 6rem 0;
}

.projectimg, .contactimg {
    width: 15rem;
}

.projectimg img, .contactimg img {
    border-radius: 1rem;
    width: 30rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.projectdesc, .contactinfo {
    width: 100%;
    margin: 1.5rem 2rem 0 2rem;
}

.projectdesc h3 {
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5rem;
}

.projectdesc a {
    font-size: 1rem;
    font-weight: 700;
}

.projectdesc p {
    font-style: italic;
    margin: 1rem 0;
}

.projectdesc svg {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(0.2rem);
}

.project .areas {
    margin-top: 1rem;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .projectimg {
    transform: translateX(-100%);
}

.project .techstack a {
    width: 2rem;
}

/* --------------------------------- contact -------------------------------- */

.socmedlinks {
    display: flex;
    gap: 1rem;
}

.contactarea {
    margin-top: 8rem;
}

.contactarea p {
    margin: 2rem 0;
}

.contactarea h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.contactarea .socmed svg {
    width: 2.2rem;
    transition: color 0.3s ease;
}

.contactarea .socmed svg:hover {
    transition: color 0.3s ease;
}

.socmed {
    transition: transform 0.3s ease;
}

.socmed:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.contactlinks {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contactarea .contactimg img {
    transform: translate(1.5rem, 5rem);
    box-shadow: none;
    width: 18rem;
}

#resume {
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#resume:hover {
    background-color: #c2e2ff48;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}