body {
    background-image: url(pics/bg1.png);
    background-color: #212434;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 25px;
    font-family: "fanda";
    color: #fffbe0;
    padding: 30px;
}

p {
    line-height: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p a {
    color: #bcc3e2;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #fffbe0;
    transition: transform 0.3s ease;
}

a:visited {
    color: #fffbe0;
}

a:hover {
    transform: translateX(10px);
    color: #bcc3e2;
}

.footer {
    color: #bcc3e2;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.container {
    display: flex;
}

.main {
    color: #fffbe0;
    margin-left: 250px;
    flex-grow: 1;
    
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink {
    0%, 50% { border-color: #fffbe0; }
    50%, 100% { border-color: transparent; }
}

@font-face {
    font-family: "fanda";
    src: url("fanda-black-font/FandaBlack-vm6E.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* typing animation */

.typer {
    width: 87%;
    display: inline-block;
}

.typesmooth {
    overflow: hidden;
    border-right: .10em solid #fffbe0;
    white-space: nowrap;
    font-size: 50px;
    width: 0;
    animation: typing 1.5s forwards;
}

.typewrite {
    overflow: hidden;
    border-right: .10em solid #fffbe0;
    white-space: nowrap;
    font-size: 50px;
    width: 0;
    animation: typing 1s steps(18, end) forwards, blink 1s infinite step-end 0.8s;
}

/* header */

.header {
    margin-left: 200px;
    margin-bottom: 20px;
    background-color: #212434;
}

.header img {
    width: 4%;
    float: right;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.header img:hover {
    transform: scale(1.2);
}

/* header home */

.headerhome {
    margin-left: 200px;
    margin-bottom: 20px;
    background-color: #212434;
}

.headerhome img {
    width: 4%;
    float: right;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.headerhome img:hover {
    transform: scale(1.2);
}

/* navigation sidebar */

.nav {
    top: 280px;
    margin-right: 46px;
    width: 15%;
    line-height: 60px;
    position: absolute;
}

.nav a {
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}

/* homepage */

.intro {
    display: flex; 
    align-items: flex-start; 
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
}

.profile {
    display: inline-block;
    width: 35%;
    margin-right: 20px;
    margin-top: 30px;
}

.about {
    display: inline-block;
    width: 60%;
    align-items: center;
    margin: auto;

    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
}

/* homepage skills */

.skills {
    display: flex;
    width: 100%;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.4s;
}

.skillist {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.skillist img {
    transition: transform 0.5s ease;
    width: 50%;
    margin-bottom: 5px;
}

.skillist img:hover {
    transform: scale(1.2);
}

.skillist .skilldesc {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
}

.skillist:hover .skilldesc {
    opacity: 1;
    transform: translateY(0);
}

/* project divs */

.proj {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;

    opacity: 0;
    transform: translateX(-20px);
    animation: fadeIn 1s forwards;
}

.proj img {
    width: 35%;
    margin-right: 25px;
    border-radius: 20px;
}

.projdesc {
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
}

.projdesc img  {
    border-radius: 0;
    width: 5%;
    transition: transform 0.5s ease;
}

.projdesc img:hover  {
    border-radius: 0;
    width: 5%;
    transform: scale(1.2);
}

/* hovering over project title */

.projdesc h2, .cert h2 {
    transition: transform 0.3s ease;
    display: inline-block;
    margin-bottom: 0;
}

.projdesc h2:hover, .cert h2:hover {
    transform: translateX(50px);
}

.projdesc h2::before, .cert h2::before {
    color: #bcc3e2;
    content: ">> ";
    position: absolute;
    left: -50px;
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}

.projdesc h2.hovered::before, .cert h2.hovered::before {
    left: -50;
    opacity: 1;
}

.projdesc h2.hovered, .projdesc h2.hovered {
    padding-left: 1px;
}

/* certificates page */

.cert {
    display: inline-block;
    margin-right: 40px;
    padding: 10px;
    width: 20%;
    line-height: 25px;
    font-size: 20px;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.cert img {
    width: 100%;
    border-radius: 20px;
}

/* contact form */

form {
    display: inline-block;
    width: 50%;
    
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s;
}

.formdesc {
    display: inline-block;
    width: 45%;
    margin-right: 40px;

    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
}

form input{
    background-color: #32354a;
    color: #fffbe0;
    border: none;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

textarea {
    background-color: #32354a;
    border-radius: 10px;
    color: #fffbe0;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding: 10px;
}

.button {
    width: fit-content;
    font-size: 20px;
    font-family: fanda;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fffbe0;
    display: inline-block;
    padding-bottom: 7px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    color: #32354a;
    background-color: #fffbe0;
    transform: translateX(10px);
}

/* other */

span {
    color: #bcc3e2;
    text-decoration: underline;
}

hr {
    border: 2px solid #32354a;
    margin-top: 40px;
    margin-bottom: 40px;

    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards;
    animation-delay: 0.1s;
}

.nav-toggle {
    display: none; 
}


/* for mobile */

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    p {
        font-size: 15px;
        line-height: normal;
    }

    body {
        background-image: url(pics/bg2.png);
        background-color: #212434;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-size: 25px;
        font-family: "fanda";
        color: #fffbe0;
        padding: 10px;
    }

    hr {
        margin: 0;
        background: #212434;
    }

    h2 {
        font-size: 25px;
    }

    .nav {
        width: 100%;
        text-align: center;
        display: none; /* Hide the navigation by default */
        position: fixed;
        padding-top: 30px; 
        padding-bottom: 10px;
        background: rgba(50, 53, 74, 1);
        z-index: 1000; /* Ensure it overlays other content */
        font-size: 15px;
        line-height: normal;
        top: 0;
        left: 0;
    }

    .nav a {
        display: block;
        padding: 10px;
        line-height: 0.5;
    }

    .nav-toggle {
        display: block; /* Show the toggle button on smaller screens */
        background-color: transparent;
        color: #fffbe0;
        border: none;
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
        text-align: left;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001; 
    }

    .main {
        width: 100%; 
        margin-left: 0; 
    }

    .intro {
        flex-direction: column;
        position: relative;
        display: flex;
    }

    .profile {
        width: 90%; 
        margin: auto;
        height: 20vh;
        filter: none;
        transition: height 0.8s ease, filter 0.5s ease;
        padding-top: 45px;
    }

    .profile img {
        width: 100%; 
    }

    .profile.scrolled {
        height: 10vh; 
        filter: blur(5px); 
        opacity: 0.5;
    }

    .about {
        width: auto; 
        padding-top: 50px;
        background: linear-gradient(rgba(50, 53, 74, 0), rgb(33, 36, 52, 0.8), rgb(33, 36, 52, 1), rgb(33, 36, 52,0));
    }
    
    .typewrite {
        font-size: 30px;
    }

    .footer {
        font-size: 10px;
        width: auto;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        transform: translateY(-20px);
        animation: fadeIn 1s forwards;
    }

    .skillistheader {
        width: 100%; /* Ensure it takes up the full width */
        text-align: center;
        background: #212434; /* Background color */
    }

    .skillist {
        width: 15%; /* adjust */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skillist img {
        width: 90%; /* Adjust image size */
    }

    .headerhome {
        display: flex;
        position: fixed;
        top: 25;
        right: 20;
        z-index: 1000;
        background: transparent;
    }
    
    .headerhome img {
        width: 25px;
        transition: transform 0.3s ease;
        margin-left: 10px;
    }

    .headerhome img:hover {
        transform: scale(1.2);
    }

    .headerhome a:hover {
        transform: none;
    }

}

.nav.active {
    display: block;
}