body {
    background-image: url(pics/bg1.png);
    background-color: #212434;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 25px;
    font-family: "fanda";
    color: #fffbe0;
    padding: 30px 50px 30px 50px;
}

p {
    line-height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink {
    0%, 50% { border-color: #fffbe0; }
    50%, 100% { border-color: transparent; }
}

@font-face {
    font-family: "fanda";
    src: url("fanda-black-font/FandaBlack-vm6E.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.typer {
    width: 87%;
    display: inline-block;
}

.typesmooth {
    overflow: hidden;
    border-right: .10em solid #fffbe0;
    white-space: nowrap;
    font-size: 50px;
    width: 0;
    animation: typing 1.5s forwards;
}

.typewrite {
    overflow: hidden;
    border-right: .10em solid #fffbe0;
    white-space: nowrap;
    font-size: 50px;
    width: 0;
    animation: typing 0.8s steps(15, end) forwards, blink 1s infinite step-end 0.8s;
}

.header {
    margin-left: 280px;
    margin-bottom: 20px;
    background-color: #212434;
}

.header img {
    width: 4%;
    float: right;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.header img:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
}

.nav {
    top: 280px;
    margin-right: 46px;
    width: 20%;
    line-height: 60px;
    position: fixed;
}

.nav a {
    text-decoration: none;
    color: #fffbe0;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s ease;
}

a:visited {
    color: #fffbe0;
}

a:hover {
    transform: scale(1.1);
    color: #bcc3e2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #bcc3e2;
    padding: 10px;
}

.main {
    color: #fffbe0;
    margin-left: 280px;
    flex-grow: 1;
}

.formdesc {
    display: inline-block;
    width: 40%;
    margin-right: 30px;
}

form {
    display: inline-block;
    width: 50%;
}

form input{
    background-color: #32354a;
    color: #fffbe0;
    border: none;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

textarea {
    background-color: #32354a;
    border-radius: 10px;
    color: #fffbe0;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding: 10px;
}

#submit {
    width: 20%;
    font-size: 20px;
    font-family: fanda;
}

#submit:hover {
    transition: transform 0.3s ease;
    transform: translateX(1.1);
}

#error {
    color: #fffbe0;
    font-size: 16px;
}

span {
    color: #bcc3e2;
    text-decoration: underline;
}

hr {
    border: 2px solid #32354a;
}